<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/styles/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Shared site-wide CSS  -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Page specific CSS -->
  <link rel="stylesheet" href="/styles/index.css">

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
    </div>
</nav>

<div class="container">
    <h1>MBTI Personality Finder</h1>
    
    <div class="card white">
    <div class="card-content white-text">
        <div class="row">
            <span class="card-title">
                Fill in the bio below with some short text, and we'll describe your personality.
            </span>
        </div>
        
        {{!-- <div class="row"> --}}
            <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1"></label>
                </div>
            </div>
            </form>
        {{!-- </div> --}}

    </div>
    </div>
</div>

<script src="/js/utils.js"></script>