<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="/styles/materialize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Shared site-wide CSS  -->
  <link rel="stylesheet" href="/styles/main.css">
  <!-- Page specific CSS -->
  <link rel="stylesheet" href="/styles/result.css">

  <link rel="shortcut icon" type="image/png" href="/images/hello.png" />


<nav>
    <div class="nav-wrapper">
    </div>
</nav>

<div class="container">
    <h1>Results</h1>
    
    <div class="card white">
    <div class="card-content white-text">
        <div class="row">
            <p>Some of your personality traits are:</p>
            <br>
            <p>Possible MBTI personality types:</p>
        </div>
        
    </div>
    </div>

    <div class="card white">
    <div class="card-content white-text">
        <div class="row">
            <p>Want to take the test for yourself?</p>
            <br>
            <a href="https://www.16personalities.com/personality-types">
                <img src="/images/16personalities.PNG">
            </a>
        </div>
        
    </div>
    </div>
</div>
