h1 {
    font-weight: bolder;
    color: white;
    text-align: center;
}

.card-title {
    color: #4202ba;
}

.nav-wrapper {
    background-color: #4202ba;
}

textarea.materialize-textarea {
    background-color: lightblue;
    height: 10rem;
}