h1 {
    font-weight: bolder;
    color: white;
    text-align: center;
    font-size: 3em;
    margin: 1.25em;
}

.card-title {
    color: #05275b;
}

textarea.materialize-textarea {
    background-color: white;
    height: 8rem;
}

.button-wrapper {
    align-self: center;
}