html {
    background-image: url("https://images-ext-1.discordapp.net/external/JNg3QdZcKfXRuOBPTsDyCMhJODfniYlEEvV3QYbL4XE/%3Fixlib%3Drb-1.2.1%26ixid%3DMnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8%26auto%3Dformat%26fit%3Dcrop%26w%3D2070%26q%3D80/https/images.unsplash.com/photo-1612863229236-60722f5ef8c9?width=879&height=586");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #131210;
}


main {
    flex: 1 0 auto
}

body {
    display: flex;
    flex-direction: column;
}

.nav-wrapper {
    background-color: #05275b;
}

